beautifulsoup4==4.12.3
fastapi==0.109.2
langchain==0.1.9
langchain-community==0.0.24
langchain-core==0.1.26
numpy==1.22.0
ollama==0.1.6
pandas==2.2.1
pydantic==2.6.1
python-multipart==0.0.9
PyYAML==6.0
tokenizers==0.15.2
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tqdm==4.66.2
transformers==4.37.2
uvicorn==0.27.1
